{% extends 'base.html'%} {% block bootstrap %}
<h1>Add New CNG Pump</h1>
<form class="card m-5 p-4 shadow-lg" action="addMarker" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Marker Name</label>
    <input type="text" class="form-control" name="name" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Address</label>
    <input type="text" class="form-control" name="addr" />
  </div>

  <div class="mb-3">
    <label class="form-label">Lattitude</label>
    <input type="" class="form-control" name="lat" step="0.00000001" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Longitude</label>
    <input
      type="number"
      class="form-control"
      name="lng"
      step="0.00000001"
      required
    />
  </div>

  <button type="submit" class="btn btn-danger">Add to Database</button>
</form>
{% endblock%}
